body {
    padding: 0;
    margin: 0;
}
p{
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.header {
    height: calc(12vh - 4px);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: #afafaf 3px solid;
}

.logo {
    width: 5vw;
    height: 5vw;
    background-color: black;
    margin-left: 5.5vw;

}

.cart {
    width: 5vw;
    height: 5vw;
    background-color: black;
    margin-right: 3vw;
    cursor: pointer;
}

.mark_1,
.mark_2 {
    width: 3vw;
    height: 8vh;
    background-color: orange;
    position: absolute;
    top: 0;
}

.mark_1 {
    clip-path: polygon(0 0, 3vw 0, 3vw 8vh, 1.5vw 5vh, 0 8vh);
}

.mark_2 {
    clip-path: polygon(0 0, 3vw 0, 3vw 5vh, 1.5vw 8vh, 0 5vh);
}

.main_wrapper {
    width: 100vw;
    height: 88vh;
    display: flex;
    position: relative;
}

.category_menu {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    width: 16vw;
    border-right: 3px solid #afafaf;
    position: relative;
    align-items: center;
}

.offer_menu {
    height: 100%;
    width: 84vw;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.category_menu::-webkit-scrollbar,
.offer_menu::-webkit-scrollbar {
    display: none;
}
.cat_wrp{
    width: 16vw;
    height: 6vh;
    border-bottom: 3px solid #afafaf;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.offer_wrp{
    width: 14vw;
    height: 25vh;
    border-radius: 20px;
    border: 3px solid #afafaf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 2vh 1vw 0 1vw;
    cursor: pointer;
}
.inn_cat_wrp{
    width: 14vw;
    height: 5vh;
    border-top: 3px solid #afafaf;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cur_offer_wrapper{
    height: max-content;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: center;
}
.price_img_wrapper{
    width: 34%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #afafaf;
    border-bottom: #afafaf 3px solid;
    border-right: #afafaf 3px solid;
    align-self: flex-start;
}
.char_wrapper{
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
.cur_char_wrapper{
    height: 6vh;
    width: 78%;
    margin: 1vh 0 1vh 0;
    border: 3px #afafaf solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1%;
    padding-left: 1%;
    position: relative;
}
.button_count_wrapper_node,
.button_count_wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 2% 0 2%;
    height: 100%;
    width: 20%;
    border-left: #afafaf 3px solid;
    align-items: center;
    position: relative;
}
.button_count_wrapper_node{
    width: 25%;
    border: none;
}
.change_button_node{
    height: 4vh;
    width: 2.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: 0 0 4px black;
    font-family: 'Heebo', sans-serif;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}
.change_button{
    height: 4vh;
    width: 2vw;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 4px black;
    font-family: 'Heebo', sans-serif;
    font-size: 28px;
    padding: 0;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    display: flex;
}

.price_quan_wrapper{
    height: 7vh;
    width: 40%;
    margin-top: 5vh;
    display: flex;
    justify-content: space-between;
    border: solid 3px #afafaf;
    align-items: center;
    padding: 0 2% 0 2%;
    position: relative;
}
.quan_sub_wrapper{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 3px solid #afafaf;
    border-right: 3px solid #afafaf;
    padding: 0 2% 0 2%;
}
.sub_button{
    height: 4vh;
    width: 6vw;
    padding: 0;
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 4px black;
}
.cur_order_node_wrapper{
    width: 96%;
    padding: 0 2% 0 2%;
    height: 10vh;
    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.con_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.back_button{
    width: 8vw;
    height: 5vh;
    margin-top: 15vh;
    border: none;
    box-shadow: 0 0 4px black;
    border-radius: 10px;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 0;
}
